<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="/reset.css">
    <link rel="stylesheet" type="text/css" href="/style.css">
    <title>Regisration Home Screen</title>
</head>
<body>
    <div id='wrapper'>
        <div class='messages'>
                <% JSON.stringify(messages) %>
                <% if(messages.user) { %>
                    <% for (var x of messages.user) { %>
                        <h3><%= x %></h3>
                    <% } %>
                <% } %>
        </div>
        <div id='secret'>
            <h1>Dojo Secrets</h1>
            <a href='/logout'><button>Logout</button></a>
            <form class='addsec' action='/addsec' method='post'>
                <h2>Create a Secret</h2>
                <hr>
                <label class="secret" for="secret">Secret:</label>
                <textarea class="secbox" name="secret"></textarea>   
                <input class='addbtn' type='submit' value='Submit'>
            </form>  
        </div>
        <div id='results'>
            <h1>Here are the secrets we currently have!</h1>
            <% for (var x in dmessages) { %>
                <% for(var y=0; y< dmessages[x].secrets.length; y++) { %>
                    <h5><%= dmessages[x].secrets[y].title %></h5>
                    <a href='/detail/<%=dmessages[x]._id%>/<%= dmessages[x].secrets[y]._id %>'><button>Details</button></a>
                    <% if ( dmessages[x]._id  == session_id ) { %>
                        <a href='/delete/<%=dmessages[x]._id%>/<%= dmessages[x].secrets[y]._id %>'><button>Delete</button></a>  
                    <% } %>     
                <% } %>
            <% } %>
        </div>
    </div>
</body>
</html>